In [10]:
name: str = "Muhammad Umair"
print(name)

Muhammad Umair

string Datatype in python

In [15]:
name: str = "umair"
fname: str = "umair and \nfather's name umair"
print(name)
print(fname)

umair
umair and
father's name umair

In [16]:
#how to convert special character to normal character: with the help of backSlash "\"

fname: str = 'umair and \nfather\'s name umair'
print(name)
print(fname)

umair
umair and
father's name umair

In [27]:
name: str = "Muhammad Umair Idrees"
fname: str = "Muhammad Idrees"
education: str = "Master in python programming"
age: int = 22

card: str = "PIAIC student card\nStudent Name: " + name + "\nFather Name: "+ fname + "\nEdcation: "+ education + \
 "\nAge: "+ str(age)

print(card)

PIAIC student card
Student Name: Muhammad Umair Idrees
Father Name: Muhammad Idrees
Edcation: Master in python programming
Age: 22

#define multiline string """ """

In [31]:
#this is the only strong method and called f-string
name: str = "Muhammad Umair Idrees"
fname: str = "Muhammad Idrees"
education: str = "Master in python programming"
age: int = 22

card: str = f""" 
PIAIC Student Card
Student Name: {name}
Father Name:{fname}
education: {education}
age:{age}

"""
print(card)

PIAIX Student Card
Student Name: Muhammad Umair Idrees
Father Name:Muhammad Idrees
education: Master in python programming
age:22

#Mosly we used in C or C++

In [34]:
#this is an old method 
name: str = "Muhammad Umair Idrees"
fname: str = "Muhammad Idrees"
education: str = "Master in python programming"
age: int = 22

card: str = f""" 
PIAIC Student Card
Student Name: %s
Father Name:%s
education: %s
age:%d

""" %(name,fname,education,age)
print(card)

PIAIC Student Card
Student Name: Muhammad Umair Idrees
Father Name:Muhammad Idrees
education: Master in python programming
age:22

#We have fromat method:

In [35]:
#this is format method:
myName: str = "umair"
yourName: str = "zeshan"
#index       0                   1           0      1
"My Name is {} and Your Name is {}".format(myName,yourName)

'My Name is umair and Your Name is zeshan'

In [38]:

name: str = "Muhammad Umair Idrees"
fname: str = "Muhammad Idrees"
education: str = "Master in python programming"
age: int = 22

card: str = """ 
PIAIC Student Card
Student Name: {}
Father Name:{}
education: {}
age:{}

""".format(name,fname,education,age)
#indexes     0    1       2       3
print(card)

PIAIC Student Card
Student Name: Muhammad Umair Idrees
Father Name:Muhammad Idrees
education: Master in python programming
age:22

In [44]:
write_any_code : str = """
print("My Name is Muhammd umair idrees")
print("My Father Name is Muhammd Idrees")
name:str="umair"
fname:str="Idrees"
print(name + " " + fname)

"""
exec(write_any_code)

My Name is Muhammd umair idrees
My Father Name is Muhammd Idrees
umair Idrees

In [48]:
name: str = "     Muhammad Umair       "
display(name.lstrip())
display(name.rstrip())
display(name.strip())

'Muhammad Umair       '

'     Muhammad Umair'

'Muhammad Umair'